body{
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  width: 100%;
}


/* header section */
.header-section {
	position: absolute;
  margin: 10px 20px 0;
  width: 100%;
  left: 0;
  z-index: 2;
  top: 28px;
}

.header-warp {
	width: 100%;
  background-color: #1a5ed1;
  border-bottom: 3px solid #fff;
}
.header-wrap{
  padding: 2% 0 2% 2%;
  margin: 0 auto;
}

.site-logo{
  margin: 6px;
  width: 30px;
  height: 30px;
}

.smartech{
font-family: 'DM Serif Text', serif;
font-size: 1.5rem;
}

.main-menu {
	float: right;
	list-style: none;
}
.main-menu li {
	display: inline;
}

.main-menu li a {
	display: inline-block;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	margin-left: 35px;
	padding: 10px 0;
}
/* header section */

/* header 2 section */


.header-bg{
  height: 700px;
  width: 100%;
  position: relative;
  z-index: -2
}

.header2-header{
  width: 40%;
  position: absolute;
  top: 60%;
  color: #fff;
  margin-left: 7%;
}
h1{
  font-family: 'DM Serif Text', serif;
  font-size: 3rem;
  line-height: 1.5;
}
.header-h2{
 font-size: 1.3rem;
 line-height: 1.5;
}
/* header2-section */

/* about us section */
.about-us{
  padding: 5% 10%;
  /* width: 100%; */
  /* margin: 150px  70px; */
}
.aboutus-img{
  width: 50%;
  height: 400px;
  margin-left: 30%;
  transform: rotate(25deg);
}
.aboutus-heading{
  font-family: 'DM Serif Text', serif;
  font-size: 2.5rem;
  font-weight: 200;
}
.aboutus-p{
  line-height: 2;
  margin-top: 30px;
}

.motto{
  color: #66BFBF;
}

/* about us second part */
.second-part{
  /* background-color: #EAF6F6; */
  padding: 20px 0;
}
.countries{
  text-align: center;
  background-color: #EAF6F6;
  margin: 0 auto 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  width: 100%;
}
.countries-row{
  text-align: center;
  margin: 0 auto 100px;;
  width: 90%;
}
.countries-h2{
  font-family: 'DM Serif Text', serif;
  width: 35%;
  margin: 0 auto 15px;
  font-size: 2rem;
  line-height: 1.5;
}
.countries p{
  color: gray;
  font-size: 1.5rem;
}
.list-countries{
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
}
.cont-h3{
position: relative;
  font-family: 'DM Serif Text', serif;
  font-size: 2.5rem;
top: 60%;
color: #fff;
}
.img-country{
  width: 100%;
  height: 100%;
  border-radius: 10%;

}
.cont-h3:hover{
  text-decoration: underline;
}
/* about us section */

/* our services section */
#Services{
  background-color: #EAF6F6;
  padding: 4% 13%;
  text-align: center;
  margin-top: 50px;
}
.service-icons{
width: 30%;
height: 30%;
}
.services-header{
  margin-bottom: 7%;
  font-family: 'DM Serif Text', serif;
  font-size: 3rem;
}
.services-h{
  width: 80%;
  margin:4% auto;
  font-family: 'DM Serif Text', serif;
  font-size: 1.2rem;
}
.services-paragraph{
  width: 80%;
  margin: 0 auto;
  color: gray;
}

/* our services */
.popular-fields{
  padding: 7%;
}
.random{
  margin-left: 8%;
}
.subjects{
  margin-bottom: 5%;
}
.popular-heading{
  margin-bottom: 3%;
  font-family: 'DM Serif Text', serif;
}

/* testimonialsection */

.testimonial-name{
  margin-top: 20px;
}
  .container-fluid{
    padding: 3% 25% 10%;
  }
  .testimonial-image{
    width: 30%;
    border-radius: 100%;
    margin-bottom: 10%;
  }


  .container-fluid{
      background-color: #EAF6F6;
      text-align: center;
      width: 100%;
      height: 600px;
  }
  .testimonial-text{
    line-height: 1.5;
  }
  .black{
    background-color: black;

  }
  #pricing{
    padding: 5% 10%;
  }
  .prices{
    margin-bottom: 4%;
  }


  #footer{
    background-color: #EAF6F6;
    padding: 8%;
    text-align: center;
  }

  .footer-button{
  margin: 1rem;
  }

  .footer-icons{
    margin: 0 10px 15px;
  }

  .footer-p{
    color: gray;
  }

@media (max-width: 1028px){

body{
  text-align: center;
  font-size: 2rem;
}

.main-menu {
	float:none;
}
.main-menu li a{
  font-size: 2rem;
}
.container{
  width: 80%;
  border: none;
}

.smartech{
  font-size: 2.2rem;
  position: relative;
  right: 20%;
}

.site-logo{
  display: none;
}

  .header2-header{
    color: white;
    width: 100%;
    margin: 10px auto 0;
    position: relative;
    bottom: 30rem;
     z-index: 2;
  }
  .header-h1{
    font-family: 'DM Serif Text', serif;
    font-size: 3rem;
    line-height: 1.2;
  }
  .header-h2{
   font-size: 2rem;
   line-height: 1.5;
  }
  .header-bg{
    height: 1000px;
  }
.aboutus-img{
  transform: rotate(0);
  width: 80%;
  margin: 5% auto 0;
}
.countries-h2{
  margin: 0 auto 5%;
  width: 70%;
  font-size: 1.8rem;
}
.countries p{
  font-size: 1.4rem;
}
.world-map{
  width: 70%;
}
.list-countries, .countries-row{
  display: none;
}
#about-us{
  margin-top: -20rem;
  margin-bottom: 0;
}
#Services{
  position: relative;
  bottom: 100px;
  margin-bottom: -60px;
  /* margin-top: -40px; */
}
.services-h{
  font-size: 1.6rem;
}
.popular-fields{
  text-align: left;
}
.subjects{
  margin-bottom: 0;
}
.omo{
  margin-top: 30px;
}

.random{
  display: none;
}
.main-another li{
list-style: none;
}
.main-another{
  text-align: left;
}
.testimonial-image{
  width: 50%;
  border-radius: 100%;
  margin-bottom: 8%;
}
.testimonial-text{
  width: 100%;
  letter-spacing: 2px;
  font-size: 1.4rem;
}
.container-fluid{
  height: 1000px;
}

}
